{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About Me</h1>
    <p>This project is a blogging platform built with Flask that allows users to create and manage blog posts easily. It supports Markdown for formatting, making it simple to write rich text content. The platform features a user-friendly interface and secure access for managing posts, enabling individuals to share their ideas and connect with others.</p>
</div>
{% endblock %}
