<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Blog{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Icons -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


  <!-- Font Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('index') }}">FlaskMD</a>
            </div>
            <div class="menu-toggle" id="mobile-menu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{{ url_for('index') }}" class="{{ 'active' if current_page == 'home' else '' }}">Home</a></li>
                    <li><a href="{{ url_for('blog') }}" class="{{ 'active' if current_page == 'index' else '' }}">Blog</a></li>
                    <li><a href="{{ url_for('about') }}" class="{{ 'active' if current_page == 'about' else '' }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}" class="{{ 'active' if current_page == 'contact' else '' }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ current_year }} FlaskMD | Designed with 🤍 by FADILSFLOW using Flask</p>
        </div>
    </footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</script>
<script>
    const mobileMenu = document.getElementById('mobile-menu');
    const navMenu = document.querySelector('.nav-menu');

    mobileMenu.addEventListener('click', () => {
        navMenu.classList.toggle('active'); // Toggle class active
    });

    // Menutup navbar saat mengklik di luar
    window.addEventListener('click', (event) => {
        if (!navMenu.contains(event.target) && !mobileMenu.contains(event.target)) {
            navMenu.classList.remove('active'); // Hapus class active
        }
    });
</script>
</body>
</html>
