{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contact Me</h1>
    <p>If you want to connect with me, follow me on social media!</p>
    <div class="social-icons">
        <a href="https://github.com/yourusername" target="_blank" class="social-icon">
            <ion-icon name="logo-github" style="font-size: 48px;"></ion-icon>
        </a>
        <a href="https://linkedin.com/in/yourusername" target="_blank" class="social-icon">
            <ion-icon name="logo-linkedin" style="font-size: 48px;"></ion-icon>
        </a>
        <a href="https://instagram.com/yourusername" target="_blank" class="social-icon">
            <ion-icon name="logo-instagram" style="font-size: 48px;"></ion-icon>
        </a>
        <a href="https://twitter.com/yourusername" target="_blank" class="social-icon">
            <ion-icon name="logo-twitter" style="font-size: 48px;"></ion-icon>
        </a>
        <a href="mailto:your.email@example.com" target="_blank" class="social-icon">
            <ion-icon name="mail" style="font-size: 48px;"></ion-icon>
        </a>
    </div>
</div>
{% endblock %}
