{% extends "base.html" %}

{% block title %}Enter Secret Key{% endblock %}

{% block content %}
    <div class="secret-key"><h1>Enter Secret Key👮🏼‍♀️</h1>
    <form method="POST">
        <input type="password" name="secret_key" placeholder="Secret Key" required>
        <button type="submit">Submit</button>
    </form>
  </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}