/* Global Styles */
:root {
  --background-dark: #1E1E1E;
  --font-dark: #D4D4D4;
  --background-light: #D4D4D4;
  --font-light: #1E1E1E;
  --link-color: #007BFF;
  --hover-color: #0A84FF;
  --navbar-background: #1E1E1E;
  --footer-background: #1E1E1E;
}

/* Body Global */
body {
  margin: 0;
  font-family: 'Poppins';
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease; /* Animasi transisi */
}


/* Tema Gelap */
body.dark {
  background-color: var(--background-dark);
  color: var(--font-dark);
}
body.dark a {
  color: var(--font-dark);
}
/* Tema Terang */
body.light {
  background-color: var(--background-light);
  color: var(--font-light);
}
body.light a {
  color: var(--font-light);

}
/* Kontainer */
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--link-color);
}

/* Header */
header {
  margin: 0; 
  padding: 10px 0; 
}

header h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

header a {
  text-decoration: none;
}

/* Navbar Styles */
.navbar {
  background-color: var(--navbar-background);
  padding: 0; 
  margin: 0; 
  position: relative;
  top: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between; /* Atur kanan-kiri */
  align-items: center; /* Vertikal sejajar */
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-dark);
  text-decoration: none;
}

.navbar .logo a:hover {
  color: var(--hover-color); /* Efek hover pada logo */
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Jarak antar item menu */
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  font-weight: bold;
  color: var(--font-dark);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: var(--hover-color); /* Efek hover pada link */
}

.link{
  color: var(--link-color);
  font-size: 1em;
}

/* User */
.user-bio {
  margin-bottom: 20px;
}

.user-info {
  display: flex; /* Menyusun gambar dan informasi dalam satu baris */
  align-items: center; /* Vertikal sejajar */
}

.user-image {
  position: relative;
  width: 110px; /* Ukuran lebar gambar */
  height: 110px; /* Ukuran tinggi gambar */
  margin-right: 15px; /* Memberi jarak antara gambar dan informasi */
  overflow: hidden;
  background-color: var(--font-dark);
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Menjaga gambar tetap proporsional dan memenuhi kontainer */
}

.user-details {
  display: flex;
  flex-direction: column; /* Menyusun informasi dalam kolom vertikal */
}

.user-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.user-details p {
  font-size: 1.2rem;
  margin: 1px 0;
}

/* Add Blog Button */
.add-blog {
  position: absolute;
  right: 0;
  top: 0;
}

.add-blog-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
}

.add-blog-button:hover {
  color: var(--hover-color);
}

.add-blog-button ion-icon {
  font-size: 1.5rem;
}

/* Footer */
footer {
  background: var(--footer-background);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

.icons {
  vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
  font-size: 1.2em; /* Menyesuaikan ukuran ikon jika perlu */
}

.metadata-font {
  font-size: 1em;
  font-weight: bold;
}

.post-header p {
  margin: 1px 0;
}

.post-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.post-list a {
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.post-list a:hover {
  color: var(--hover-color);
}

.post-item {
  gap: 100px;
}

.metadata-font {
  font-size: larger;
}

#tags .tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #3f3f3f; /* Background abu-abu */
  border-radius: 5px;
  font-size: 14px;
}

/* Index CSS */
.blog-container {
  max-width: 1200px;
  margin: 0 auto;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.post-card {
  width: calc(33.333% - 20px);
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  transition: filter 0.3s ease;
}

.image-container img:hover {
  filter: brightness(100%);
}

.post-info {
  padding: 10px;
}

.post-info h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.post-info p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}
